.wrapper {
    padding-bottom: 20px;
}

.matchItem .matchInfo::after {
    content: '';
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, rgb(126, 24, 221) 50%, rgb(0, 0, 0) 50%) !important;
    position: absolute;
    left: 0px;
}

.drawsWrapper {
    max-width: max-content;
    width: 100%;
    overflow: hidden;
}

.wp {
    max-width: max-content;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 50px;
}

.wp6First .table .round:first-child .matchItem:first-child,
.wp6First .table .round:first-child .matchItem:nth-child(4) {
    height: 117px;
    border: none;
    background: none;
}

.hiddens {
    height: 117px;
    border: none !important;
    background: none !important;
}

.wp6First .table .linesColumn1 .line:first-child .left {
    justify-content: end;
}

.wp6First .table .linesColumn1 .line:first-child .middle div {
    height: 66px;
}

.wp6First .table .linesColumn1 .line:first-child {
    margin-top: 16px;
}

.wp6First .table .linesColumn1 .line:first-child .right {
    justify-content: start;
}

.wp6First .table .linesColumn1 .line:first-child .right div {
    margin-top: 0;
}

.wp6First .table .linesColumn1 .line:last-child .left {
    justify-content: start;
}

.wp6First .table .linesColumn1 .line:last-child .middle div {
    height: 76px;
}

.wp6First .table .linesColumn1 .line:last-child .right {
    justify-content: end;
}

.wp6First .table .linesColumn1 {
    justify-content: space-evenly;
}

.wp6First .table .linesColumn1 .line:last-child {
    margin-top: 14px;
}

.wp12Hidden .table .round2 {
    justify-content: space-around;
}

.wp12Hidden .table .linesColumn1 .line:nth-child(1) .left,
.wp12Hidden .table .linesColumn1 .line:nth-child(2) .left {
    justify-content: end;
}


.wp12Hidden .table .linesColumn1 .line:nth-child(1) .right div,
.wp12Hidden .table .linesColumn1 .line:nth-child(2) .right div {
    margin-top: 0;
}


.wp12Hidden .table .linesColumn1 .line:nth-child(3) .right div,
.wp12Hidden .table .linesColumn1 .line:nth-child(4) .right div {
    margin-top: 0;
}

.wp12Hidden .table .linesColumn1 .line:nth-child(3) .left,
.wp12Hidden .table .linesColumn1 .line:nth-child(4) .left {
    justify-content: start;
}

.wp12Hidden .table .linesColumn1 .line:nth-child(1) .middle div,
.wp12Hidden .table .linesColumn1 .line:nth-child(2) .middle div {
    height: 72px;
}

.wp12Hidden .table .linesColumn1 .line:nth-child(4) .middle div,
.wp12Hidden .table .linesColumn1 .line:nth-child(3) .middle div {
    height: 72px;
}

.wp12Hidden .table .linesColumn1 .line:nth-child(1) .middle div:first-child,
.wp12Hidden .table .linesColumn1 .line:nth-child(2) .middle div:first-child {
    background: none;
}

.wp12Hidden .table .linesColumn1 .line:nth-child(3) .middle div:last-child,
.wp12Hidden .table .linesColumn1 .line:nth-child(4) .middle div:last-child {
    background: none;
}



.wp12Hidden .table .linesColumn1 .line {
    margin: 0 !important;
}

/* .wp12Hidden .table .linesColumn1 .line:nth-child(1) .middle div {
    height: 66px;
}

.wp12Hidden .table .linesColumn1 .line:nth-child(1) {
    margin-top: 52px;
}

.wp12Hidden .table .linesColumn1 .line:nth-child(2) .middle div {
    height: 66px;
}

.wp12Hidden .table .linesColumn1 .line:nth-child(2) {
    margin-top: 30px;
}

.wp12Hidden .table .linesColumn1 .line:nth-child(3) {
    margin-bottom: 100px;
} */

.states {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.groupTable {
    display: flex;
    justify-content: center;
}

.states h4 {
    font-family: 'Montserrat';
    padding: 12px;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.068);
    text-align: center;
    cursor: pointer;
    transition: 0.5s all;
}

.states .activeButton {
    background-color: #7814ff;
    color: white;
}

.roundsName {
    display: flex;
    gap: 22px;
    width: max-content;
}

.roundsName div {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #e6e6e6;
    width: 420px;
    padding: 16px;
    box-sizing: border-box;
}

.tableName {
    font-size: 16px;
    font-family: 'Montserrat';
    margin-top: 20px;
    padding-left: 20px;
    font-weight: 500;
}

.roundsName div {
    font-family: 'Montserrat';
    font-weight: 600;
}

.roundsName div span {
    font-size: 14px;
    font-weight: 400;
}

.table {
    display: flex;
    width: 100%;
}

.table div .matchItem {
    width: 100%;
    margin: 1.2rem 0 .1rem 0;
    background-color: white;
    border: 2px rgba(0, 0, 0, 0.082) solid;
}

.table .column {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.027);
    display: flex;
    flex-direction: column;
    min-width: 420px;
    justify-content: space-around;
}

.table .column:nth-child(1) .matchItem:nth-child(odd) {
    margin-top: 1.4rem;
}

.table .column:nth-child(1) .matchItem:nth-child(2n) {
    margin-bottom: 1rem;
}



.table .column:nth-child(4) .matchItem {
    margin: 0;
}


.lines {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.table .linesColumn1 .middle div {
    height: 144px;
}

.table .linesColumn1 .line {
    margin-top: 8px;
}

.table .linesColumn1 .right div {
    margin-top: 10px;
}

.table .linesColumn2 .middle div {
    height: 303px;
}


.table .linesColumn2 .line {
    margin-top: 20px;
}

.drawsWrapper12 .linesColumn2 .line {
    margin-top: 0;
}

.drawsWrapper12 .linesColumn2 {
    margin-top: 20px;
}

.drawsWrapper12 .linesColumn2 .middle div {
    height: 302px !important;
}

.drawsWrapper12 .column3 {
    justify-content: space-evenly;
}

.table .linesColumn3 .middle div {
    height: 606px;
}

.table .linesColumn3 {
    margin-top: 18px;
}

.drawsWrapper12 .linesColumn3 {
    margin-top: 20px;
}

.drawsWrapper12 .linesColumn3 .line .middle div {
    height: 350px !important;
}



.table .linesColumn4 .middle div {
    height: 1430px;
}

.matchItem .matchInfo .player .left {
    margin-left: 20px;
}

.drawsWrapper6 .linesColumn1 {
    justify-content: center;
    margin-top: 6px;
}

.drawsWrapper6 .linesColumn1 .line {
    margin: 0;
}

.drawsWrapper6 .linesColumn1 .line:first-child .left div:last-child {
    height: 1px;
}

.drawsWrapper6 .linesColumn1 .line:last-child .left div:first-child {
    height: 1px;
}

.drawsWrapper6 .linesColumn1 .line .middle div {
    height: 159px;
}

.drawsWrapper6 .linesColumn1 .line:first-child .right div {
    margin-top: 30px;
}

.drawsWrapper6 .linesColumn1 .line:last-child .right div {
    margin-bottom: 15px;
}

.drawsWrapper6 .linesColumn1:nth-child(4) .left div {
    height: 2px !important;
}

.drawsWrapper6 .linesColumn1:nth-child(4) .middle div {
    height: 144px;
}

.drawsWrapper6 .linesColumn1:nth-child(4) {
    margin-top: 18px;
}

.drawsWrapper6 .linesColumn1:nth-child(4) .line .right div {
    margin-bottom: 30px;
}

.drawsWrapper6 .column2 {
    justify-content: center;
}

.drawsWrapper6 .column:nth-child(1) .matchItem {
    margin-bottom: 1rem;
}



.lines .line {
    display: flex;
}

.lines .line .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lines .line .left div {
    width: 10px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.151);
}

.lines .line .middle div {
    width: 2px;
    background-color: rgba(0, 0, 0, 0.151);
}

.lines .line .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lines .line .right div {
    width: 10px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.151);
}


.drawsCategory {
    display: flex;
    align-items: center;
    gap: 40px;
    height: 100%;
}

.drawsCategory h4 {
    color: rgba(0, 0, 0, 0.548);
    font-size: 20px;
    transition: 0.6s;
    cursor: pointer;
    padding: 15px 5px;
}

.drawsCategory h4:hover {
    color: #141414;
}

.drawsCategory .activeCategory {
    position: relative;
    color: #141414;
}

.drawsCategory .activeCategory::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #7814ff;
    bottom: 0;
    left: 0;
}

.drawsCategory h4 .stroke {
    background-color: #7814ff;
    width: 0%;
    height: 4px;
    position: absolute;
    bottom: 0;
    animation-fill-mode: forwards;
}

.drawsCategory .activeCategory .stroke {
    width: 100%;
}

.groups {
    margin: 0 auto;
    max-width: max-content;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 50px;
}


.groups .groupTitle {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #e6e6e6;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.groups .groupTitle h4 {
    font-family: 'Montserrat';
    font-weight: 600;
}

.groups .groupTable table {
    font-family: 'Montserrat';
    font-weight: 600;
}

.groups .groupTable table * {
    margin: 0;
    padding: 0;
}

.groups .groupTable table {
    margin-top: 20px;
}

.groups .groupTable table thead tr th:first-child {
    width: 400px;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    vertical-align: bottom;
    padding-bottom: 20px;
    color: black;
}

.groups .groupTable table thead tr th {
    color: rgba(0, 0, 0, 0.644);
    font-weight: 600;
}

.groups .groupTable table thead tr th:nth-child(6),
.groups .groupTable table thead tr th:nth-child(7),
.groups .groupTable table thead tr th:nth-child(8),
.groups .groupTable table thead tr th:nth-child(9) {
    padding: 20px;
}

.groups .groupTable table thead .for3 th:nth-child(5),
.groups .groupTable table thead .for3 th:nth-child(6),
.groups .groupTable table thead .for3 th:nth-child(7),
.groups .groupTable table thead .for3 th:nth-child(8) {
    padding: 20px;
}

.groups .groupTable table tr .result {
    padding: 10px;
    font-size: 12px;
    text-align: center;
    line-height: 150%;
    width: 50px;
}

.groups .groupTable table tbody tr td:first-child {
    text-align: left;
}

.groups .groupTable table tr .blur {
    background-color: rgba(0, 0, 0, 0.034);
}

.groups .groupTable table tbody tr td:first-child,
.groups .groupTable table tbody tr td:last-child {
    padding: 20px;
}

.groups .groupTable table tbody tr td:last-child {
    color: rgba(0, 0, 0, 0.726);
}

.groups .groupTable table tbody tr td.win {
    color: #7814ff;
}

.groups .groupTable table tbody tr td.lose {
    color: rgba(0, 0, 0, 0.5);
}

.groups .groupTable table tbody tr td {
    text-align: center;
}

tbody, tbody td {
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-collapse: collapse;
}

tbody {
    border: 2px solid rgba(0, 0, 0, 0.103);
}
  
table {
    border-collapse: collapse;
}

.drawsWrapper12 .linesColumn2 {
    justify-content: center;
}

.drawsWrapper12 .linesColumn2 .line:first-child .left div:last-child {
    height: 1px;
}

.drawsWrapper12 .linesColumn2 .line:last-child .left div:first-child {
    height: 1px;
}

.drawsWrapper12 .linesColumn2 .line:first-child .middle div {
    height: 358px;
}

.drawsWrapper12 .linesColumn2 .line:last-child .middle div {
    height: 359px;
}


.drawsWrapper12 .linesColumn2 .line:first-child .right div {
    margin-bottom: 50px;
}

.drawsWrapper12 .linesColumn2 .line:last-child .right div {
    margin-top: 53px;
}


.drawsWrapper12 .linesColumn3 .line .middle div {
    height: 413px;
}

.third {
    max-width: 1860px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.third h2 {
    color: rgb(54, 83, 209);
    padding-left: 20px;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Montserrat';
}

.third .matchItem {
    width: 420px;
}

.third .matchItem .winPlayer {
    background-color: #43ff1428;
}

@media screen and (max-width: 1100px) {
    .groups {
        max-width: 95%;
    }

    .groupTable {
        display: block;
    }

    .groupTable {
        width: 100%;
        overflow-x: auto;
    }

    .groupTable table {
        width: max-content;
        margin-bottom: 5px;
    }
    
    .groupTable::-webkit-scrollbar {
        background-color: rgba(0, 0, 0, 0.048);
        height: 6px;
        border-radius: 12px;
    }

    .groupTable::-webkit-scrollbar-thumb {
        background-color: black;
        border-radius: 12px;
    }

    .groups .groupTable table thead tr th:first-child {
        width: 200px;
    }

    .groups .groupTable table thead .for3 th:nth-child(5), .groups .groupTable table thead .for3 th:nth-child(6), .groups .groupTable table thead .for3 th:nth-child(7), .groups .groupTable table thead .for3 th:nth-child(8),
    .groups .groupTable table thead tr th:nth-child(6), .groups .groupTable table thead tr th:nth-child(7), .groups .groupTable table thead tr th:nth-child(8), .groups .groupTable table thead tr th:nth-child(9) {
        padding: 14px;
    }
}


@media screen and (max-width: 750px) {
    .drawsCategory {
        gap: 20px;
    }

    .drawsCategory h4 {
        font-size: 16px;
    }

    .states {
        max-width: 95%;
    }

    .states h4 {
        font-size: 14px;
        padding: 5px;
        width: 45%;
    }
}


@media screen and (max-width: 500px) {
    .drawsCategory h4 {
        padding: 5px 5px 10px 5px;
    }

    .drawsCategory .activeCategory::after {
        height: 2px;
    }

    .drawsCategory {
        padding-top: 10px;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .table .column {
        min-width: 90vw;
    }

    .roundsName div {
        width: 90vw;
    }

    .states h4 {
        font-size: 12px;
    }

    .third .matchItem {
        width: 90vw;
    }
}